@font-face {
  font-family: "JetBrains Mono";
  src: url("../assets/fonts/JetBrainsMono-Regular.ttf");
}

body {
  font-family: "JetBrains Mono", sans-serif;
  font-size: large;
  margin: 20px;
  background-color: #2c2d31;
}

div.terminalLines {
  margin-top: -20px;
}

p {
  line-height: 30px;
}

.terminalOutput {
  margin-left: 30px;
}

input {
  font-family: "JetBrains Mono", sans-serif;
  background-color: transparent;
  color: #f8f8f2;
  font-size: large;
  border: transparent;
  width: 70%;
  color: #fff279;
  cursor: default;
  margin-left: -2px;
}

input:focus {
  outline: none;
}

.terminalLines {
  display: flex;
}

h1 {
  color: #ff886a;
  cursor: default;
}

p {
  color: #fff279;
  cursor: default;
}

span.normalized {
  color: #f8f8f2;
}

span.command {
  color: #fff279;
}

span.information {
  color: #ff886a;
}

span.comment {
  color: #c3ff55;
}

span.question {
  color: #a47a62;
}

span.error {
  color: #ff3d3d;
}

span.success {
  color: #50fa7b;
}

span.important {
  color: #ff6c6c;
}

span.warning {
  color: #f1fa8c;
}

.fenetre {
  width: 600px;
  height: 450px;
  background: #262629;
  position: fixed;
  top: 25%;
  left: 25%;
  border-radius: 10px;
  border: 2px solid #19191b;
  overflow: auto;
  resize: both;
}

.navigationFenetre {
  width: 100%;
  height: 30px;
  background: #19191b;
  position: absolute;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: grab;
}

.contenuFenetre {
  width: 100%;
  height: 95%;
  top: 30px;
  position: absolute;
  overflow: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.titreFenetre {
  width: 100%;
  height: 30px;
  margin: auto;
  top: 6px;
  text-align: center;
  color: white;
  font-size: small;
  position: absolute;
}

.boutonFermer {
  width: 20px;
  height: 20px;
  color: white;
  background: #ff5555;
  border-radius: 20px;
  border: 2px solid #282a36;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boutonFermer:hover {
  background: #ff1a1a;
}
